<html lang="">
<head>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/functions.js"></script>
    <title>AWS Management Console</title>
</head>

<body>
<header class="custom-header">
    <h4 class="display-6 fw-bold mb-2">AWS Student's App Management console</h4>
    <p class="lead">Created by Anton Khitrov</p>
</header>

<div class="d-flex" style="min-height: 100vh;">
    <!-- Left side: Main content -->

    <main class="container mt-5 flex-grow-1">
        <h4 class="mb-4">Available Options</h4>

        <!-- Subscribe Section -->
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Subscribe to the Mailing List</h5>
                <form id="subscribeForm" class="row g-3" action="/queues/subscribe">
                    <div class="col-md-9">
                        <label>
                            <input type="email" name="mail" id="subscribeEmail" class="form-control"
                                   placeholder="Enter your email" required>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary w-100">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Unsubscribe Section -->
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Unsubscribe from the Mailing List</h5>
                <form id="unsubscribeForm" class="row g-3" action="/queues/unsubscribe">
                    <div class="col-md-9">
                        <label>
                            <input type="email" id="unsubscribeEmail" name="mail" class="form-control"
                                   placeholder="Enter your email" required>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-danger w-100">Unsubscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Upload Section -->
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Upload File for Further Processing</h5>
                <form id="uploadFileForm" action="/files" method="post">
                    <div class="mb-3">
                        <input class="form-control" type="file" id="uploadFile" name="file"  required>
                    </div>
                    <button type="submit" id="uploadBtn" class="btn btn-success">Upload</button>
                </form>
            </div>
        </div>
    </main>

    <!-- Right side: Shared output -->
    <div id="sharedOutput" class="terminal-style-right flex-shrink-0"></div>
</div>
</body>
</html>